.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    background-color: #e9c2e8;
    border: 1px solid rgb(20, 200, 197);
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    color: rgb(20, 200, 197);
    margin-bottom: 20px;
}

.labelContact {
    justify-content: start;
}

.field {
    width: 94.2%;
    padding: 10px;
    border: 1px solid rgb(200, 116, 19);
    border-radius: 5px;
    background-color: #eda8ed;
    color: rgb(235, 10, 160)n;
    font-size: 14px;
}

.field::placeholder {
    color: rgb(20, 200, 197);
    opacity: 0.2;
    font-size: 16px;
    ;
}

button {
    background-color: rgb(20, 200, 197)green;
    color: #c20884;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2804a7;
}